@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

/*CSS Reset*/

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

/*Header*/

header{
    background-color: black;
    color: white;
    text-align: center;
}

header a{
    color: white;
}

header > h1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: 'Konkhmer Sleokchher', cursive;
}

/*Header Nav*/

#page-header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: auto;
}

header >  h1{
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: auto;
    font-variant: small-caps;
}

#menu{
    display: block;
    width: 100vh;
    text-align: left;
    cursor: pointer;
    
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

#menu:hover{
    color: rgb(119, 119, 119);
}

li > a{
    text-decoration: none;
    color: white;
    padding-inline-end: 15px;
}

nav a:hover{
    color: rgb(119, 119, 119);
    transition: 0.3s;
}

nav li{
    display: inline-block;
    text-align: -webkit-match-parent;
}

.menu{
    display: none;
    list-style-type: disc;
    margin-block-start: 0.6em;
    margin-block-end: 0.8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

.primary-nav{
    margin-bottom: 20px;
    position: relative;
    background: #1a1a1a;
    -webkit-transition: border-color .15s;
    transition: border-color .15s;
    border: 2px solid #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Padrão*/

body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 680px;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.507);
}

/*Conteúdo*/

section{
    padding:6vh;
    line-height: 1.4em;
}

section.normal{
    background-color: #D9A3B3;
}

section.imagem{
    background-color: rgb(211, 167, 193);
    box-shadow: inset 6px 5px 13px 2px rgba(0, 0, 0, 0.144);
}

section.imagem > p{
    background-color: #f1f1f165;
    padding: 15px;
    display: block;
    max-width: 100%;
    margin: auto;
}

section.normal > p{
    background-color: #d9a3b3;  
    display: inline-block;
}

section#img01{
    background-image: url(../imagens/igor/tyler5.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#img02{
    background-image: url(../imagens/igor/tyler4.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#img03{
    background-image: url(../imagens/igor/tyler1.png);
    height: 300px;
    max-width: 600px;
    background-color: #F5B0C5;
    background-position: center;
    background-size: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top-right-radius: 7px;
    border-top-left-radius:7px;
}

#borda-baixo{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius:7px;
}

#borda-topo{
    border-top-right-radius: 7px;
    border-top-left-radius:7px;
}

a {
    text-decoration: none;
    color: #272423;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

/*Rodapé*/

footer{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}